
*.log
4_Way_Traffic_Light/.settings/language.settings.xml
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
*.log
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/ASM.1670938588233.pdom
.metadata/.plugins/org.eclipse.core.resources/.projects/4_Way_Traffic_Light/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/4_Way_Traffic_Light/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ASM/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ASM/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/ASM/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ASM/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/2.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-ASM.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.history/11/608bd312057b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/13/705ffa48d27b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/13/908c5b0cca7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/17/3061f18fc87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/17/a0ce6514ca7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/18/90029c8de37a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/1b/20be0ceac97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/1b/608a39d5d27b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/1b/f0ba2fedc77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/1c/b0184a84bc7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/20/206cb4c4bc7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/22/c0893369d17b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/24/90d806a8c87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/2a/701a2733d37b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/2b/009625c9c97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/2f/60be3f93037b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/3/e05084a9047b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/32/10ac9821c97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/32/30414a00ca7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/32/701ee5adbe7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/32/f07da649d27b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/37/00cf2c3bdb7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/37/60db9245db7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/38/a02f8a7cc87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/38/b097fbd3c87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/40/20166136db7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/46/d0a49166c87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/47/60bb54e4c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/48/0028ccf6c27b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/49/c09e6955d17b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/4a/20803228c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/4c/00343cb3e57a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/4e/200b04d8c97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/56/30586c0be67a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/59/e0162e44bd7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/5c/7017c314e67a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/5f/40bff3e9c67b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/6/c0f3d6ac037b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/62/504f7f46bc7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/64/502e5449c97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/65/30729a61e37a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/65/407cea51e37a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/65/90450938e37a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/66/e045cacfcf7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/67/80acf5bbcf7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/67/909cbb89be7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/68/401c1197047b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/68/80842062c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/68/a080bce3e37a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/6f/208026a7c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/7/9039b141c97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/73/b03cd18cdc7a001d1fc4a3af31ab66fe
.metadata/.plugins/org.eclipse.core.resources/.history/75/007dddffc67b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/76/f0f8d24fca7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/78/70a9c393c97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/7a/c0bf74aad27b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/7b/70ebc9a5c97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/7b/f0fdbbf4c87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/7c/c05acd0fca7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/7e/40633cd0bc7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/82/30c8231be67a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/85/80773b4abd7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/86/c09fe4a6047b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/8a/80891be5e57a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/8d/50172b29cf7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/8e/70b988a9cf7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/8f/4061eb57c97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/8f/501fa6dde37a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/9/30768948c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/93/507d247ae37a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/93/80b278d0c87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/94/50d06de7c97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/95/503ea372c87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/97/8087b6b3be7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/97/80e22949e37a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/98/90593199c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/9d/906dcbe0c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/a/90854845d37b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/a0/40500483d27b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/a1/70792d54ca7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/a3/d0c7d05ec87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/a6/f08c5c8abd7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/a7/50be377cd27b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/ab/50a349abcf7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/ab/e046c4b8c87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/b/d0e63c61bd7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/b7/d0a66ddcc97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/bd/702d7afbc77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/bf/d0a479f3c67b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/c/e0800175dc7a001d1fc4a3af31ab66fe
.metadata/.plugins/org.eclipse.core.resources/.history/c1/f038cc78e67a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/c2/10f8b703c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/c2/30215e5bc67b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/c5/201795fec97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/c5/c0aa994dca7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/c6/a08fb9b0c87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/c8/50022dabc97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/c8/5002f4ebe57a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/ce/b056f82de67a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/d2/7001c67dbc7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/d7/6013d89dc97b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/d7/f0f77a47bd7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/d8/30562ae0047b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/d8/f0a7e8a5d27b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/d9/a0ed017fdc7a001d1fc4a3af31ab66fe
.metadata/.plugins/org.eclipse.core.resources/.history/db/0083ef64c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/e2/703d3590c77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/e4/40a400a3037b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/e6/40ba0488bd7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/e6/608efc32db7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/e8/808dea0cc77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/e8/f0e5e3adbe7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/ed/60e76c88bc7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/ef/7039a9d7e37a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/f/00005a64e67a001d1799b112ba481876
.metadata/.plugins/org.eclipse.core.resources/.history/f0/606bedd7047b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/f0/9090a593bd7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/f0/c09bfe95bd7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/f4/10f0923ac77b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/f5/e02db16cc87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/f8/00575917c87b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/f8/20c0d624057b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/f8/403732b0047b001d17a2d36ee0c0155a
.metadata/.plugins/org.eclipse.core.resources/.history/fb/1022f49bd27b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/fe/00d382f0c67b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.history/fe/c05a9712cb7b001d1e8fe26bbf062d0f
.metadata/.plugins/org.eclipse.core.resources/.projects/4_Way_Traffic_Light/.indexes/bf/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/4_Way_Traffic_Light/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/4_Way_Traffic_Light/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Traffic_Light/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Traffic_Light/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Traffic_Light/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
.metadata/.plugins/org.eclipse.core.resources/.root/5.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/4.snap
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
