
*.log
4_Way_Traffic_Light/.settings/language.settings.xml
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
*.log
.metadata/.log
.metadata/.plugins/org.eclipse.cdt.core/ASM.1670938588233.pdom
.metadata/.plugins/org.eclipse.core.resources/.projects/4_Way_Traffic_Light/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/4_Way_Traffic_Light/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ASM/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ASM/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/ASM/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ASM/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/2.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-ASM.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
